<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoposExcelToDbHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <GoposExcelToDbHelper.Properties.Settings>
            <setting name="projectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="dbHost" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPort" serializeAs="String">
                <value />
            </setting>
            <setting name="dbSchema" serializeAs="String">
                <value />
            </setting>
            <setting name="dbUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="dbUserPw" serializeAs="String">
                <value />
            </setting>
            <setting name="isTestConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isCreateTable" serializeAs="String">
                <value>False</value>
            </setting>
        </GoposExcelToDbHelper.Properties.Settings>
    </userSettings>
</configuration>